*{
    box-sizing: border-box;
}
body{
    
    
    
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
}

.container {
    
    border: 1px solid none;
    max-width: 945px;  
    margin: auto;  
    
}




.hero-header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 105px;
}
.social-link{
    margin-left: 20px;
}
.social-link:first-child{
    margin-left: 0;
}

.button{
    background: #3342b5;
    
    border: none;
    border-radius: 155px 155px 155px 155px;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}



main{
    height:700px;
    background: linear-gradient(0deg, #000000 1%, rgba(0, 0, 0, 0) 100%);
    
}










.contacts-form{
    background: #FFFFFF;
    box-shadow: 5px -5px 0px #3342b5;
    border-radius: 5px;
    max-width: 380px;
    padding-top: 40px;
    padding-bottom: 48px;
    padding-right: 48px;
    padding-left: 49px;
    position: relative;
    top: 10px; left: 200px;

    
}
.form-title{
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 29px;
}
.input{
    background: #F8F8F8;
box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
border-radius: 5px;
padding: 18px 50px;
width: 100%;
border: none;
font-size: 14px;
line-height: 28px;
}
.input-name{
    margin-bottom: 17px;
    background-image: url('../img/footer/user-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
    
}
.input-phone{
    margin-bottom: 26px;
    background-image: url('../img/footer/phone-icon.svg');
    background-repeat: no-repeat;
    background-position: center left 20px;
    
}
.form-button {
    width: 100%;
    background: #3342b5;
    color: white;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
.contacts-block{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    
}
.contacts-data{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 42px;
}
.contacts-phone, .contacts-mail{
    flex-basis: 50%;
    margin-bottom: 53px;
}
.contacts-social {
    flex-basis: 100%;
} 
.contacts-title{
    font-weight: bold;
font-size: 24px;
line-height: 28px;
margin: 0;
margin-bottom: 15px;
color:#000
}
.contacts-link{
    text-decoration: none;
    color: black;
    margin-right: 37px;
}
.contacts-link:hover{
    text-decoration: underline;
}
.contacts-text{
    flex-basis: 50%;
}

.footer {
    background-color: #000000;
    padding-top: 1px;
    height: 100px;
}

.footer > section{
    

    position: relative;
     left: 200px;
    bottom: 20px;
}
.footer-item{
    display:inline;
}

.policy{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
    
}