   
    <div class="contact-container">
        <h2 class="section-title"></h2>
        <div class="contacts-block">

            


            <div class="contacs-all">
            
                

                

                <form action="/send" class="contacts-form" method="post">
                    <h4 class="form-title">Можете просто оставить заявку, я позвоню вам сегодня</h4>
                    <input type="text" name="name" class="input input-name" placeholder="Ваше имя">
                    <input type="text" name="number" class="input input-phone" placeholder="Ваш телефон">
                    <input type="submit" value="Отправить" class="form-button">
                </form>

            </div>
         
        </div>
        
        
    </div>
   

