<link rel="stylesheet" href="css/style_contacts.css">  
<header class="hero-contact">
    <div class="container">
     <div class="hero-header">
        <div>
         <img src="img/01_Logo_HSE_full_rus_PANTONE_for_dark_1.svg" alt="HSE" class="logo" width="40">
         <a href="/"><button class="button" style="color:white">На главную</button></a>
         
        </div>
         <div class="social-links"> 
             <a href="https://github.com/Matvey-1212" class="social-link"><img src="img/iconmonstr-github-1.svg" alt="github"></a>
             <a href="https://github.com/Matvey-1212" class="social-link"><img src="img/Telegram_alternative_logo.svg" alt="tg" width="25"></a>
             <a href="https://github.com/Matvey-1212" class="social-link"><img src="img/icons8-vk-в-круге.svg" alt="vk" width="28"></a>
         </div>
         
     </div>
     
    

    </div>
    
    
</header>