<link rel="stylesheet" href="../css/style.css">  
<div class="haed-container">

  <div class="hero-header">
      <img src="../../img/01_Logo_HSE_full_rus_PANTONE_for_dark_1.svg" alt="HSE" class="logo" width="40">
      <div class="header-titel">

          <div class="social-links"> 
              <a href="https://github.com/Matvey-1212" class="social-link"><img src="img/iconmonstr-github-1.svg" alt="github"></a>
              <a href="https://github.com/Matvey-1212" class="social-link"><img src="img/Telegram_alternative_logo.svg" alt="tg" width="25"></a>
              <a href="https://github.com/Matvey-1212" class="social-link"><img src="img/icons8-vk-в-круге.svg" alt="vk" width="28"></a>
          </div>
      
      </div>
  </div>
</div>