

<div class="container">

    <div class="hero-container">

        <div class="hero-content">

            <img src="img/photo_2023-01-27 21.12.57.jpeg" class="avatar" >

            <div class="hero-text">
                <span class="hero-subtitle">Студент ВШЭ</span> 
                <h1 class="hero-title">Матвей Антонов</h1>
                
                
                <a href="/contacts"><button class="button" style="color:white">Мои Контакты</button></a>

            </div>
            
            
        </div>

        <div class="hero-bio">

            <p id="testId2" class="hero-description">Я студент 3 курса <a href="https://www.hse.ru/ba/am/" class="hselink">ВШЭ факультета МИЭМ Прикладной математики.</a></p>

            <p id = "testId1" class="hero-description">Я учусь в одном из самых престижных ВУЗов России, где предлагается широкий выбор кафедр и курсов. 
                Я очень трудолюбивый человек и стремлюсь добиться успеха в жизни. 
                Я обладаю широким набором навыков и умений, включая знание иностранных языков, 
                программирование, аналитическое мышление и многое другое. 
                В то же время, я наслаждаюсь студенческой жизнью, участвуя в различных мероприятиях и 
                делясь своими идеями с другими студентами. Кроме того, я люблю фотографировать и путешествовать.
            </p>

        </div>
    </div>
</div>






<section class="features">
    <div class="features-container">
        <h2 class="section-title">Skills:</h2>
        <div class="features-skills">
            
            <div class="features-item">
                
                <h3 class="features-title">Programming languages</h3>
                <p class="features-text"> Python, R, C/C++/C#, SQL (PostgreSQL)</p>
            </div>


            <div class="features-item">
                
                <h3 class="features-title">Development environment</h3>
                <p class="features-text">Google Colab, Jupyter, PyCharm, Clion, XCode, Unity3D</p>
            </div>


            <div class="features-item">
                
                <h3 class="features-title">Libraries</h3>
                <p class="features-text">Pandas, NumPy, Matplotlib, OpenCV, Pilow, Numba, Holoviews;</p>
            </div>

            
        </div>
        
    </div>

    <div class="features-container">
        <h2 class="section-title" >Мои проекты:</h2>
        <div class="features-project"> 
            
            <ol class="rounded">
                <li><a>Распознавание лиц с помощью методов машинного обучения</a></li>
                <li><a href="https://cabinet.miem.hse.ru/#/project/881/">Отображение 3D-сцены в виде случайной точечной стереограммы</a></li>
                <li><a href="https://cabinet.miem.hse.ru/#/project/1183/2022">Виртуальная тренировочная среда для восстановления мелкой моторики пальцев для людей с инвалидностью</a></li>
                
            </ol>
            

            

            
        </div>
        
    </div>
    
</section>

<section class="features">
    <div class="features-container">
        <h2 class="section-title">Пример проекта:</h2>

        <div>
            <video width="700"  controls>
                <source src="video/testvideo.mp4" type="video/mp4">
                <source src="video/testvideo.oog" type="video/ogg">
            Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>